image: ubuntu:bionic

variables:
  # VERSION: ${CI_COMMIT_TAG}
  VERSION: 1.0

stages:
  - build
  - test
  - packages

build:
  stage: build
  before_script:
    - apt update
    - apt -y install make gcc build-essential libknot-dev libtrace3-dev
  script:
    - make all
  artifacts:
    paths:
      - dns-collector

# test:
#   stage: test
#   before_script:
#     - apt update
#     - apt -y install make
#   script:
#     - make test

package_ubuntu1804:
  stage: packages
  image: helb/fwd-ubuntu-bionic
  before_script:
    - apt update
    - apt -y install make gcc build-essential libknot-dev libtrace3-dev
  script:
    - make all
    - fpm -s dir -t deb -n ${CI_PROJECT_NAME} -v ${VERSION} --prefix /usr/bin dns-collector
  artifacts:
    paths:
      - ${CI_PROJECT_NAME}_${VERSION}_amd64.deb
