image: ubuntu:bionic

variables:
  # VERSION: "$CI_COMMIT_TAG"
  VERSION: "1.0"
  LIBTRACE_VERSION: "4.0.3"
  WANDIO_VERSION: "1.0.4"

stages:
  - build
  - test
  - get_dependencies
  - packages

build:
  stage: build
  before_script:
    - apt-get update
    - apt-get -y install make gcc build-essential libknot-dev libtrace3-dev
  script:
    - make all
  artifacts:
    paths:
      - dns-collector
      - dns-collector.conf

test_help:
  stage: test
  dependencies:
    - build
  before_script:
    - apt-get update
    - apt-get -y install libknot7 libtrace3
  script:
    - echo "Prints help without crashing:"
    - ./dns-collector --help

test_loopback:
  stage: test
  dependencies:
    - build
  before_script:
    - apt-get update
    - apt-get -y install libknot7 libtrace3
  script:
    - echo "Launches correctly with output set to CSV:"
    - timeout 5 ./dns-collector -o csv -i lo 2>stderr
    - grep "Selected CSV" stderr
    - grep "time,delay_us,req_dns_len,resp_dns_len,req_net_len" csv

.deps_deb: &deps_deb
  stage: packages
  script:
    - apt-get update
    - apt-get -y install make gcc build-essential libknot-dev libtrace3-dev
    - make all
    - mkdir -p root/etc
    - mkdir -p root/usr/bin
    - cp dns-collector root/usr/bin/
    - cp dns-collector.conf root/etc/
    - cd root
    - fpm -s dir -t deb -n $CI_PROJECT_NAME -v $VERSION -d libknot7 -d libtrace3 .
  artifacts:
    paths:
      - root/${CI_PROJECT_NAME}_${VERSION}_amd64.deb

.deps_ubuntu: &deps_ubuntu
  <<: *deps_deb
  before_script:
    - apt-get update
    - apt-get install -y software-properties-common
    - LC_ALL=C.UTF-8 add-apt-repository ppa:cz.nic-labs/knot-dns

.deps_debian: &deps_debian
  <<: *deps_deb
  before_script:
    - apt-get update
    - apt-get install -y wget lsb-release ca-certificates
    - wget -O - https://deb.knot-dns.cz/knot/apt.gpg | apt-key add -
    - echo "deb https://deb.knot-dns.cz/knot/ $(lsb_release -sc) main" >> /etc/apt/sources.list

download_libtrace:
  stage: get_dependencies
  before_script:
    - apt-get update
    - apt-get install -y wget
  script:
    - wget https://github.com/LibtraceTeam/libtrace/archive/v${LIBTRACE_VERSION}.tar.gz -O libtrace.tgz
    - tar zxf libtrace.tgz
  artifacts:
    paths:
      - libtrace-${LIBTRACE_VERSION}

download_wandio:
  stage: get_dependencies
  before_script:
    - apt-get update
    - apt-get install -y wget
  script:
    - wget https://research.wand.net.nz/software/wandio/wandio-${WANDIO_VERSION}.tar.gz -O wandio.tgz
    - tar zxf wandio.tgz
  artifacts:
    paths:
      - wandio-${WANDIO_VERSION}

.build_libtrace_rpm: &build_libtrace_rpm
  dependencies:
    - download_libtrace
    - download_wandio
  before_script:
    - yum install -y @development-tools gcc-c++ bison flex libpcap-devel
    - cd wandio-${WANDIO_VERSION}
    - ./configure
    - make
    - make install
    - cd ../libtrace-${LIBTRACE_VERSION}
    - ./bootstrap.sh
    - ./configure --prefix=$(pwd)/libtrace-root/usr
    - make
    - make install
    - cd libtrace-root
    - fpm -s dir -t rpm -n libtrace -v $LIBTRACE_VERSION -d libpcap .

.deps_rpm: &deps_rpm
  <<: *build_libtrace_rpm
  stage: packages
  script:
    - yum install -y knot-libs
    - yum install -y libtrace-root/libtrace-${LIBTRACE_VERSION}-1.x86_64.rpm
    - make all
    - mkdir -p root/etc
    - mkdir -p root/usr/bin
    - cp dns-collector root/usr/bin/
    - cp dns-collector.conf root/etc/
    - cd root
    - fpm -s dir -t rpm -n $CI_PROJECT_NAME -v $VERSION --config-files /etc/dns-collector.conf -d knot-libs -d libtrace .
  artifacts:
    paths:
      - root/${CI_PROJECT_NAME}_${VERSION}_amd64.rpm
      - libtrace-root/libtrace-${LIBTRACE_VERSION}-1.x86_64.rpm

package_ubuntu_1804:
  <<: *deps_ubuntu
  image: helb/fwd-ubuntu-bionic

package_ubuntu_1710:
  <<: *deps_ubuntu
  image: alanfranz/fpm-within-docker:ubuntu-artful

package_ubuntu_1604:
  <<: *deps_ubuntu
  image: alanfranz/fpm-within-docker:ubuntu-xenial

package_debian_jessie:
  <<: *deps_debian
  image: alanfranz/fpm-within-docker:debian-jessie

package_debian_stretch:
  <<: *deps_debian
  image: helb/fwd-debian-stretch

package_fedora_28:
  <<: *deps_rpm
  image: helb/fwd-fedora-28

package_fedora_27:
  <<: *deps_rpm
  image: alanfranz/fpm-within-docker:fedora-27

package_fedora_26:
  <<: *deps_rpm
  image: alanfranz/fpm-within-docker:fedora-26

package_centos_7:
  <<: *deps_rpm
  image: alanfranz/fpm-within-docker:centos-7

package_centos_6:
  <<: *deps_rpm
  image: alanfranz/fpm-within-docker:centos-7

package_centos_5:
  <<: *deps_rpm
  image: alanfranz/fpm-within-docker:centos-7
