image: ubuntu:bionic

variables:
  # VERSION: "$CI_COMMIT_TAG"
  VERSION: "1.0"

stages:
  - build
  - test
  - packages

build:
  stage: build
  before_script:
    - apt-get update
    - apt-get -y install make gcc build-essential libknot-dev libtrace3-dev
  script:
    - make all
  artifacts:
    paths:
      - dns-collector

test:
  stage: test
  dependencies:
    - build
  script:
    - echo "Prints help without crashing:"
    - ./dns-collector --help

.deps_deb: &deps_deb
  stage: packages
  script:
    - apt-get update
    - apt-get -y install make gcc build-essential libknot-dev libtrace3-dev
    - make all
    - mkdir -p root/etc
    - mkdir -p root/usr/bin
    - cp dns-collector root/usr/bin/
    - cp dns-collector.conf root/etc/
    - fpm -s dir -t deb -n $CI_PROJECT_NAME -v $VERSION root
  artifacts:
    paths:
      - ${CI_PROJECT_NAME}_${VERSION}_amd64.deb

.deps_ubuntu: &deps_ubuntu
  <<: *deps_deb
  before_script:
    - apt-get update
    - apt-get install -y software-properties-common
    - LC_ALL=C.UTF-8 add-apt-repository ppa:cz.nic-labs/knot-dns

.deps_debian: &deps_debian
  <<: *deps_deb
  before_script:
    - apt-get update
    - apt-get install -y wget lsb-release ca-certificates
    - wget -O - https://deb.knot-dns.cz/knot/apt.gpg | apt-key add -
    - echo "deb https://deb.knot-dns.cz/knot/ $(lsb_release -sc) main" >> /etc/apt/sources.list

package_ubuntu_1804:
  <<: *deps_ubuntu
  image: helb/fwd-ubuntu-bionic

package_ubuntu_1710:
  <<: *deps_ubuntu
  image: alanfranz/fpm-within-docker:ubuntu-artful

package_ubuntu_1604:
  <<: *deps_ubuntu
  image: alanfranz/fpm-within-docker:ubuntu-xenial

package_debian_jessie:
  <<: *deps_debian
  image: alanfranz/fpm-within-docker:debian-jessie

package_debian_stretch:
  <<: *deps_debian
  image: helb/fwd-debian-stretch
